<ion-content>
  <div id="header">
    <h1>Registrate</h1>
  </div>
<form id="form">
  <ion-input placeholder="Email"></ion-input>
  <ion-input type="password" placeholder="Password"></ion-input>
  <ion-content [fullscreen] = "true">
    <div class="container">
      <img src="{{imgURL}}" height="200" width="200"/>
      <ion-button (click)="getCamera()">Tomar Foto</ion-button>
      <ion-button (click)="getGalery()">Subir Foto</ion-button>
    </div>
  </ion-content>

  <ion-button expand="block" shape="round">Registrate</ion-button>
  <ion-button expand="block" shape= "round" routerLink="/login">Inicia Sesión</ion-button>
</form>
</ion-content>